body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
	background-color: #999;
}
h1{
	color: #444;
}
h2{
	color: white;
	background: #222;
	text-align: center;
}
#home{
	margin: 15px 0px 0px 0px;
	padding: 5px;
    background:gray;
	display: inline;
} 
ul, li{
	background: #888;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	padding: 0px 0px 5px 5px;
}
a{
	color: white;
}
p{
	color: white;
	background-color: #222;
	text-align: center;
}
footer{
	clear:both;
	text-align:center;
}